<style>

</style>
<h1>Collection hash php5</h1>

<table >
            <tr>
                <th>Hostname</th>
                <th>Variables</th>
               
            </tr>

  {% for all in all %}
            <tr>
                <td>{{ all.hostname }}</td>
                <td>{{ all.variables }}</td>
                
             </tr>
{% endfor %}
</table>
            
Seven 8.0.0-beta15 (admin theme)
The default administration theme for Drupal 8 was designed with clean lines, simple blocks, and sans-serif font to emphasize the tools and tasks at hand.



<h1>Formulaire with Drupal 8 ( Render ) </h1>

{{ form }} 

<br/>
<img src="https://drupalize.me/sites/default/files/blog_post_images/composer-downloads-drush.png" />
